In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('Pizza_Sales.xlsx')

In [3]:
df

          Date    Weekday  Pizzas
0   2015-01-01   Thursday     162
1   2015-01-02     Friday     165
2   2015-01-03   Saturday     158
3   2015-01-04     Sunday     106
4   2015-01-05     Monday     125
..         ...        ...     ...
353 2015-12-27     Sunday      89
354 2015-12-28     Monday     102
355 2015-12-29    Tuesday      80
356 2015-12-30  Wednesday      82
357 2015-12-31   Thursday     178

[358 rows x 3 columns]

In [4]:
df.shape

(358, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     358 non-null    datetime64[ns]
 1   Weekday  358 non-null    object
 2   Pizzas   358 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 8.5+ KB

In [7]:
df.isnull().sum()

Date       0
Weekday    0
Pizzas     0
dtype: int64