In [1]:
import pandas as pd
import numpy as np

In [2]:
#create pandas dataframe with raw data
df = pd.DataFrame({'gender': np.repeat(np.array(['Male', 'Female']), 150),
                   'sport': np.repeat(np.array(['Baseball', 'Basketball', 'Football',
                                                'Soccer', 'Baseball', 'Basketball',
                                                'Football', 'Soccer']), 
                                    (34, 40, 58, 18, 34, 52, 20, 44))})

In [3]:
#produce contingency table to summarize raw data
survey_data = pd.crosstab(index=df['gender'], columns=df['sport'], margins=True)

In [4]:
#view contingency table
survey_data

sport   Baseball  Basketball  Football  Soccer  All
gender
Female        34          52        20      44  150
Male          34          40        58      18  150
All           68          92        78      62  300

In [5]:
#extract value in second row and first column 
survey_data.iloc[1, 0]

34

In [6]:
#calculate probability of being male, given that individual prefers baseball
survey_data.iloc[1, 0] / survey_data.iloc[2, 0]

0.5

In [8]:
#calculate probability of preferring basketball, given that individual is female
survey_data.iloc[0, 1] / survey_data.iloc[0, 4]

0.3466666666666667