In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [9]:
df['New'] = df['W'] + df['Z']

In [10]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [11]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [12]:
df.shape

(5, 5)

In [13]:
df.loc['A']#label based index

W      2.706850
X      0.628133
Y      0.907969
Z      0.503826
New    3.210676
Name: A, dtype: float64

In [14]:
df.iloc[2]#index based

W     -2.018168
X      0.740122
Y      0.528813
Z     -0.589001
New   -2.607169
Name: C, dtype: float64

In [15]:
df > 0

       W      X      Y      Z    New
A   True   True   True   True   True
B   True  False  False   True   True
C  False   True   True  False  False
D   True  False  False   True   True
E   True   True   True   True   True

In [16]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [17]:
df[df['W']>0]

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [18]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [19]:
df[df['Z']<0]

          W         X         Y         Z       New
C -2.018168  0.740122  0.528813 -0.589001 -2.607169

In [20]:
df.reset_index()

  index         W         X         Y         Z       New
0     A  2.706850  0.628133  0.907969  0.503826  3.210676
1     B  0.651118 -0.319318 -0.848077  0.605965  1.257083
2     C -2.018168  0.740122  0.528813 -0.589001 -2.607169
3     D  0.188695 -0.758872 -0.933237  0.955057  1.143752
4     E  0.190794  1.978757  2.605967  0.683509  0.874303

In [21]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_outside = pd.MultiIndex.from_tuples(hier_index)

In [26]:
df1 = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [27]:
df1

                A         B
(G1, 1) -0.497104 -0.754070
(G1, 2) -0.943406  0.484752
(G1, 3) -0.116773  1.901755
(G2, 1)  0.238127  1.996652
(G2, 2) -0.993263  0.196800
(G2, 3) -1.136645  0.000366

In [28]:
df1.Iloc['G1']

KeyError: 'G1'